/**
  * Add your own styles to make this app beautiful
  * Here are some tips for styling form elements:
  * https://developer.mozilla.org/en-US/docs/Learn/Forms/Styling_web_forms
  */
body {
  margin: 0;
  padding-top: 150px;
  background-color: #1d1d1d;
  color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-size: 60px;
}

h1 > span {
  color: #1ac367;
}
